.app {
    main {
        padding: 10px;
        height: calc(100vh - 84px);
        display: flex;
        gap: 10px;
    }
    .list-continer{
        width: 25%;
    }
    .todo-container{
    width: 75%;
    }
    .add-new-btn{
        position: fixed;
        bottom: 30px;
        right: 30px;
    }
}
